.lead {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 196px);
    max-width: 984px;
    margin: 0px auto 92px;
}

@media (max-width: 1152px) {
    .lead {
        width: calc(100vw - 96px);
    }
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media (max-width: 864px) {
    .lead {
        width: 100vw;
        max-width: 768px;
        margin-bottom: 88px;
    }
}

@media (max-width: 500px) {
    .lead {
        max-width: 320px;
        margin-bottom: 64px;
    }
}

@media (max-width: 320px) {
    .lead {
        margin-bottom: 64px;
    }
}