.place__text {
    width: 484px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media (max-width: 1074px) {
    .place__text {
        max-width: 456px;
    }
}

@media (max-width: 986px) {
    .place__text {
        max-width: 352px;
    }
}

@media (max-width: 794px) {
    .place__text {
        max-width: 288px;
    }
}

@media (max-width: 320px) {
    .place__text {
        margin: 0 auto;
    }
}