.place__text {
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 26px;
}

@media (max-width: 340px) {
    .place__text {
        width: calc(100% - 32px);
        margin: 0 auto;
    }
}
