.lead__title {
    max-width: 720px;
    text-align: center;
    margin: 0;
    color: #FFF;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    padding-bottom: 32px;
}